/* General Styles */

* {
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  font-family: "Titan One", sans-serif;
  font-weight: 650;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* External Fonts */

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-style: normal;
}

.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

/* Header and Logo */

header {
  background: linear-gradient(rgb(244, 50, 32, 0.95), rgba(215, 79, 0, 0.9675));
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

h1 {
  font-family: "Titan One", sans-serif;
  color: whitesmoke;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  font-size: 4.5rem;
  letter-spacing: 1rem;
  word-spacing: 0.4em;
}

h2 {
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem;
  color: black;
  text-shadow: 1px 1px 1px whitesmoke;
  text-align: center;
  word-spacing: 0.4em;
  letter-spacing: 0.4rem;
  margin: 20px 20px 20px 20px;
}

/* Navigation Links */

nav {
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 345;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 1.8rem;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

nav a {
  border: 4px solid black;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 7rem;
  padding: 2px 2px;
  text-align: center;
  color: black;
  font-size: 100%;
  font-weight: 350;
  text-decoration: none;
  display: inline-block;
  margin: 0.4em 0.4em;
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
}

.left-nav {
  float: left;
  margin: auto;
}

.center-nav {
  margin: auto;
}

.right-nav {
  float: right;
  margin: auto;
}

/* Change the background color on mouse-over */

nav a:hover {
  background-color: #d01e47;
  color: white;
}

/* Home Body */

.flexcontainer-cartoon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.flexrow {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  text-align: center;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  background-color: whitesmoke;
  flex-direction: column;
}

#flexrow-main {
  display: flex;
  border: 0.3rem solid black;
}

.flexcolumn {
  flex: 20%;
  max-width: 20%;
  margin: 0;
}

.flexcolumn img {
  margin: auto;
  width: 100%;
}

.states {
  max-width: 100%;
}

.cartoon {
  max-width: 100%;
  max-height: 100%;
}

.cartoon img {
  border: 0.5rem solid black;
  box-sizing: border-box;
  max-height: max-content;
  max-width: max-content;
}

.img-text {
  display: flex;
  flex-flow: nowrap;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: 0.3rem solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
  font-size: 1.2vw;
  word-spacing: 0.1vw;
  padding: 0.2em;
  box-sizing: border-box;
  margin-bottom: 3.5%;
}

.flexcontainer-about {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.flexbox-rectangle-whole {
  display: flex;
  flex-direction: column;
}

.flexbox-rectangle-upper {
  display: flex;
  flex-flow: column nowrap;
  contain: content;
  align-content: center;
  padding-bottom: 6%;
  border-top: 0.1vw solid whitesmoke;
  border-left: 0.2vw solid whitesmoke;
  border-right: 0.1vw solid whitesmoke;
  background: linear-gradient(rgb(244, 50, 32, 0.95), rgba(215, 79, 0, 0.9675));
  color: black;
}

.flexbox-rectangle {
  display: flex;
  flex-flow: column nowrap;
  contain: content;
  align-content: center;
  padding-bottom: 9%;
  border-left: 0.2vw solid whitesmoke;
  border-right: 0.1vw solid whitesmoke;
  border-bottom: 0.1vw solid whitesmoke;
  background: linear-gradient(
    rgba(215, 79, 0, 1),
    rgb(244, 50, 32),
    rgb(228, 74, 43)
  );
  color: black;
}

.cartoonists {
  display: flex;
  border-left: 0.2em solid whitesmoke;
  border-right: 0.1em solid whitesmoke;
  border-top: 0.1em solid whitesmoke;
  border-bottom: 0.1em solid whitesmoke;
  flex-shrink: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
  align-items: baseline;
  align-self: stretch;
}

.about {
  display: flex;
  flex-wrap: nowrap;
  flex: 20%;
  float: left;
  background-color: whitesmoke;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.text-column {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.about h3 {
  display: flex;
  flex-flow: column nowrap;
  font-size: 3.25vw;
  color: whitesmoke;
  margin-bottom: 2%;
  margin-top: 2%;
  padding-top: 2%;
  text-align: center;
  align-content: center;
  font-style: oblique;
  text-shadow: 2px 2px 2px black;
}

.about h4 {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5vw;
  margin-bottom: 3%;
  padding: 2% 0;
  text-shadow: 0.05vw 0.05vw 0.05vw whitesmoke;
  letter-spacing: 0.205em;
  white-space: nowrap;
}

article {
  flex-basis: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 110%;
}

article > p {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Raleway", sans-serif;
  font-weight: 825;
  text-shadow: 0.5px 0.5px 0.5px whitesmoke;
  font-size: 7vw;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  word-spacing: 0.2em;
}

.white-text {
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}

.market-link {
  color: white;
  display: flex;
  display: inline-block;
  max-width: 100%;
}

.market-link:hover {
  color: #ac1ed0;
  background-color: white;
  text-decoration: underline;
  border-radius: 36%;
  border-color: #262424;
  font-weight: 800;
}

/* Market Body */

.caption {
  height: 3rem;
  width: 25rem;
  margin: 1% auto;
  padding: 2% 2%;
  vertical-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: whitesmoke;
  border: black solid 0.5rem;
  font-family: "Jomhuria", serif;
  font-size: xxx-large;
  letter-spacing: 3px;
}

.span {
  border: 0.5rem solid black;
  display: inline-block;
}

.animation-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  padding: 0.9% 0;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

.frame {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.illustration-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  padding-top: 0.9%;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#spies {
  display: block;
  margin: auto;
}

#suarez {
  display: block;
  margin: auto;
}

#matrix {
  border: 1em;
  margin-top: 0.4%;
}

#bunny {
  max-width: 30%;
  max-height: 36.75%;
  float: left;
  border: 0.3em black solid;
}

#wolfy {
  max-width: 30%;
  max-height: 100%;

  border: 0.3em black solid;
  justify-content: center;
}

#croc {
  max-width: 30%;
  max-height: 36.75%;
  float: right;
  border: 0.3em black solid;
}

.comic-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  padding: 0.9% 0;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

#chaos {
  margin: 3.5% auto;
}

.merch-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  padding: 0.9% 0;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

.row {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  text-align: center;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

.span hr {
  margin: 6% 0;
  display: block;
}

/* Create three equal columns that sit next to one another */

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px 0px;
}

.column img {
  margin: 0em 0em 0em 0em;
  vertical-align: middle;
  width: 100%;
}

/* Contact Body with Form */

fieldset {
  border: none;
  margin-top: 20px;
  font-family: "Jomhuria", serif;
  font-size: x-large;
  letter-spacing: 0.25rem;
}

form {
  width: 71.5%;
  padding: 25px;
  border-radius: 8px;
  margin: 10vh auto;
  background-color: white;
}

.block-label {
  display: block;
}

legend {
  font-size: xx-large;
  margin-bottom: 0.6em;
  text-underline-position: under;
}

#alt-legend {
  font-size: xx-large;
  margin-bottom: 0.6em;
  text-underline-position: under;
}

label {
  margin: 15px 15px 5px 0;
}

#name-field {
  height: 22px;
  padding: 0.3em 1em;
  margin-bottom: 2%;
}

#email-field {
  height: 22px;
  padding: 0.3em 1em;
  margin-bottom: 2%;
}

#vision {
  height: 22px;
  margin-bottom: 1.5em;
  padding: 0.3em 1em;
}

.checkbox {
  margin: 4.75% 1%;
}

#request-nature {
  margin: 1% 0 0.5% 0;
  padding: 0.3em 1em;
}

#request-bespoke {
  margin: 2% 0%;
  padding: 0.3em 0.3em 0.3em 0.3em;
}

#myFile {
  margin: 1% 0 2% 0;
}

input[type="file"] {
  width: 15em;
  max-width: 100%;
  color: whitesmoke;
  padding: 5px;
  background: rgb(77, 73, 73);
  border-radius: 5px;
  border: 1px solid #555;
}

#mailing-list-join {
  margin: 4% 0 0.5% 0;
}

fieldset > p {
  margin: 2%;
}

h3 {
  margin: 2% 0%;
  font-size: xxx-large;
  letter-spacing: 0.5rem;
}

.send-button {
  margin-top: 20px;
  border: solid black 3px;
  padding: 12.5px 25px 12.5px 25px;
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 100%;
  color: black;
  background-color: white;
  display: block;
}

.send-button:hover {
  background-color: black;
  color: whitesmoke;
}

/* 404 Page */

#page-404 {
  font-size: 3em;
  line-height: 120%;
}

h5 {
  font-family: "Raleway";
  font-weight: bolder;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}

.back-button {
  border: solid black 3px;
  padding: 25px 25px 25px 25px;
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 3em;
  color: black;
  background-color: white;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.back-button:hover {
  background-color: black;
  color: whitesmoke;
}

#wolfy-404 {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

/* Footer + Links to Social Media */

footer {
  background-color: black;
  margin-top: 1.5em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.social-networks {
  text-align: center;
  width: auto;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  max-height: 0.75rem;
  height: auto;
  padding-top: 10%;
  text-align: center;
}

.left-social {
  float: left;
  margin: auto;
}

.center-left-social {
  margin-right: 10%;
}

.center-right-social {
  margin-left: 10%;
}

.right-social {
  float: right;
  margin: auto;
}

.social-networks i {
  padding-top: 10%;
  max-height: 125%;
  height: auto;
  text-align: center;
}

.social-networks a {
  border: 4px solid black;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 7rem;
  padding: 5px 5px;
  text-align: center;
  color: black;
  font-size: 110%;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin: 0.4em 0.4em;
  border-radius: 12px;
}

/* Change the background color on mouse-over */

.social-networks a:hover {
  background-color: #d01e47;
  color: white;
}

/* Media Queries */

/* For large to medium screens sizes from 4000px wide down to 2600px wide */

@media screen and (min-width: 2600px) and (max-width: 4000px) {
  h1 {
    font-size: 6rem;
    letter-spacing: 0.9rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-family: "Titan One", sans-serif;
    font-size: 2.4rem;
    padding: 0.25% 0;
    word-spacing: 0.3em;
    letter-spacing: 0.5rem;
  }

  nav a {
    font-size: 1.6em;
    width: 6em;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    width: 100%;
    line-height: 53.5%;
    padding: 1.5% 0;
  }

  .flexbox-rectangle {
    padding-bottom: 10%;
  }

  .img-text {
    font-size: 1.3vw;
  }

  .about p {
    padding-bottom: 0.4%;
  }

  .social-networks a {
    width: 5.5em;
    font-size: 1.6em;
    font-weight: 600;
  }

  .social-networks i {
    max-height: 120%;
    height: auto;
  }
}

/* For large to medium screens sizes from 2600px wide and down */

@media screen and (max-width: 2600px) {
  h1 {
    font-size: 4.5rem;
    letter-spacing: 0.8rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-family: "Titan One", sans-serif;
    font-size: 1.6rem;
    word-spacing: 0.5em;
    letter-spacing: 0.5rem;
  }

  nav a {
    font-size: 1.3em;
    width: 6em;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 100%;
    background-color: whitesmoke;
    border: 0.3rem solid black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.3vw;
    word-spacing: 0.1vw;
  }

  .flexbox-rectangle {
    padding-bottom: 9%;
  }

  .about p {
    padding-bottom: 0.4%;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    width: 100%;
    line-height: 52.5%;
    padding: 1.1% 0;
  }

  .social-networks a {
    width: 5.5em;
    font-size: 1.2em;
    font-weight: 600;
  }

  .social-networks i {
    max-height: 120%;
    height: auto;
  }
}

/* For large to medium screens sizes from 2250px wide and down */

@media screen and (max-width: 2250px) {
  nav a {
    font-size: 1.15em;
    width: 5.5em;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 100%;
    background-color: whitesmoke;
    border: 0.3rem solid black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.22vw;
    word-spacing: 0.1vw;
  }

  .flexbox-rectangle {
    padding-bottom: 10%;
  }

  .about p {
    padding-bottom: 0.3%;
  }

  .social-networks a {
    width: 5.5em;
    font-size: 1em;
  }
}

/* For large to medium screens sizes from 1650px wide and down */

@media screen and (max-width: 1650px) {
  nav a {
    font-size: 1.15em;
    width: 5.5em;
  }
  
  .cartoon img {
    display: inline-flex;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 100%;
    background-color: whitesmoke;
    border: 0.3rem solid black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.3vw;
    word-spacing: 0.1vw;
  }

  .caption {
    height: 55%;
    width: 35%;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: black solid 0.4rem;
    font-size: xx-large;
  }

  iframe {
    max-height: 100%;
    height: auto;
  }

  .flexbox-rectangle {
    padding-bottom: 10%;
  }

  .about p {
    padding-bottom: 0.3%;
  }

  .social-networks a {
    width: 5.5em;
    font-size: 1em;
  }
}

/* For large to medium screens sizes from 1450px wide and down */

@media screen and (max-width: 1450px) {
  h1 {
    font-size: 4.5rem;
    letter-spacing: 0.7rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    word-spacing: 0.3em;
    letter-spacing: 0.7rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav a {
    font-size: 1.2em;
    width: 5.5em;
  }

  .about h3 {
    padding-bottom: 4.25%;
  }

  nav a {
    font-size: 1em;
    width: 6em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 -4%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.65vw;
    word-spacing: 0.1vw;
  }

  .flexbox-rectangle {
    padding-bottom: 1%;
  }

  .about p {
    padding-bottom: 0.0025%;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    width: 100%;
    line-height: 45%;
    padding: 0.5% 0;
  }
  .social-networks a {
    width: 5.5em;
    font-size: 1em;
  }
}

/* For large to medium screens sizes from 1550px wide and down */

@media screen and (max-width: 1550px) {
  article {
    font-weight: 1000;
    font-size: 2vw;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    line-height: 100%;
    padding-bottom: 10%;
  }
}

/* For large to medium screens sizes from 1450px wide and down */

@media screen and (max-width: 1450px) {
  #pics-column-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .bottom-cartoonists {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    box-sizing: border-box;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    line-height: 100%;
    padding-bottom: 6%;
  }

  .about h3 {
    font-size: 3vw;
    margin-top: 13%;
    padding-top: 2%;
  }

  .about h4 {
    font-size: 1.5vw;
    font-weight: 350;
    margin-top: 5%;
    padding: 0 5%;
  }
}

/* For large to medium screens sizes from 1366px wide and down */
@media screen and (max-width: 1368px) {
  h1 {
    font-size: 4.5rem;
    letter-spacing: 0.7rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    word-spacing: 0.3em;
    letter-spacing: 0.7rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav a {
    font-size: 1.15em;
    width: 5.5em;
  }

  .article {
    flex-basis: auto;
    flex-shrink: 1;
  }

  .flexbox-rectangle-upper {
    display: flex;
    flex-flow: column nowrap;
    contain: content;
    align-content: center;
    color: black;
  }

  .flexbox-rectangle {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    color: black;
  }

  .about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 20%;
    float: left;
    background-color: whitesmoke;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
  }

  .about h3 {
    display: flex;
    flex-flow: column nowrap;
    font-size: 3vw;
    color: whitesmoke;
    margin-top: 0;
    padding-bottom: 0.1em;
    text-align: center;
    align-content: center;
    font-style: oblique;
    text-shadow: 2px 2px 2px black;
  }

  .about h4 {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.5vw;
    text-shadow: 0.05vw 0.05vw 0.05vw whitesmoke;
    letter-spacing: 0.205em;
  }

  article {
    width: 100%;
    padding-top: 0.8%;
    padding-bottom: 1%;
  }

  article > p {
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 0.5px whitesmoke;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
  }

  .caption {
    height: 55%;
    width: 35%;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: black solid 0.4rem;
    font-size: xx-large;
  }

  #bunny {
    max-width: 30%;
    max-height: 36.75%;
    float: left;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  #wolfy {
    max-width: 30%;
    max-height: 100%;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  #croc {
    max-width: 30%;
    max-height: 36.75%;
    float: right;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  .animation-examples span {
    background-color: #262424;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}

/* For large to medium screens sizes from 1350px wide and down */

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 4.5rem;
    letter-spacing: 0.7rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    word-spacing: 0.3em;
    letter-spacing: 0.7rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav a {
    font-size: 1.1em;
    width: 5.5em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 -4%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.65vw;
    word-spacing: 0.1vw;
  }

  #pics-column-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .bottom-cartoonists {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    box-sizing: border-box;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    max-height: none;
    width: 100%;
    line-height: 88%;
    padding-bottom: 3.75%;
  }

  .about h3 {
    font-size: 3vw;
    margin-top: 10%;
    padding-top: 2%;
  }

  .about h4 {
    font-size: 1.5vw;
    font-weight: 350;
    margin-top: 5%;
    padding: 0 5%;
  }

  .about p {
    padding-bottom: 0.1%;
  }

  .caption {
    height: 55%;
    width: 35%;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: black solid 0.4rem;
    font-size: xx-large;
  }

  #bunny {
    max-width: 30%;
    max-height: 36.75%;
    float: left;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  #wolfy {
    max-width: 30%;
    max-height: 100%;

    border: 0.1em black solid;
    margin: 0 auto;
  }

  #croc {
    max-width: 30%;
    max-height: 36.75%;
    float: right;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  .animation-examples span {
    background-color: #262424;
    opacity: 1;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  .social-networks a {
    font-size: 100%;
    width: 5em;
    font-weight: 600;
  }

  .social-networks i {
    max-height: 100%;
    height: auto;
  }

  #page-404 {
    font-size: 1.75em;
    line-height: 120%;
  }
}

/* For medium screens sizes from 1250px wide and down */

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    word-spacing: 0.3em;
    letter-spacing: 0.3rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav a {
    font-size: 1.1em;
    width: 5.5em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 -4%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.65vw;
    word-spacing: 0.1vw;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    width: 100%;
    line-height: 70%;
    padding-bottom: 9%;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 5.5rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-size: 110%;
    font-weight: 350;
  }

  iframe {
    max-height: 100%;
    height: auto;
  }
}

.flexcontainer-cartoon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-right: 0%;
}

.flexbox-rectangle {
  padding-bottom: 7%;
}

#pics-column-left {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

#pics-column-right {
  height: 100%;
  width: 100%;
  width: auto;
  height: auto;
  line-height: 100%;
}

article {
  font-weight: 1000;
  font-size: 2vw;
  width: 100%;
  line-height: 53.5%;
  padding-bottom: 1%;
}

.about h3 {
  font-size: 3vw;
  margin-top: 11%;
}

.about h4 {
  font-size: 1.5vw;
  font-weight: 350;
  margin-top: 5%;
  padding: 0 5%;
}

.about p {
  font-size: 0.9vw;
  margin-bottom: auto;
}

iframe {
  max-height: 100%;
  height: auto;
}

#page-404 {
  font-size: 2em;
  line-height: 120%;
}

.social-networks {
  font-size: 1.2em;
}

/* For medium screens sizes from 1150px wide and down */

@media screen and (max-width: 1150px) {
  nav a {
    font-size: 1.1em;
    width: 5.5em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.7vw;
    word-spacing: 0.1vw;
  }

  .flexbox-rectangle {
    padding-bottom: 6%;
  }

  article {
    font-weight: 1000;
    font-size: 2vw;
    width: 100%;
    line-height: 53.5%;
    padding: 1% 0;
  }

  #page-404 {
    font-size: 1.5em;
    line-height: 120%;
  }

  .social-networks a {
    font-size: 1.2em;
    width: 4.5em;
  }
}

/* For medium screens sizes from 1050px wide and down */

@media screen and (max-width: 1050px) {
  h1 {
    font-family: "Titan One", sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    font-size: 3.1rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-family: "Titan One", sans-serif;
    font-size: 1.1rem;
    color: black;
    text-shadow: 1px 1px 1px whitesmoke;
    text-align: center;
    word-spacing: 0.3em;
    letter-spacing: 0.3rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav a {
    font-size: medium;
    width: 6em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 3.5%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.7vw;
    word-spacing: 0.1vw;
  }

  #pics-column-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  article {
    font-weight: 1000;
    font-size: 4.5vw;
    max-width: 100%;
    width: auto;
    line-height: 65%;
  }

  .about h3 {
    font-size: 5.25vw;
    margin-top: 15%;
  }

  .about h4 {
    font-size: 2.2vw;
    font-weight: bolder;
    margin-top: 5%;
    padding: 0 5%;
  }

  .about p {
    font-size: 1.9vw;
  }

  .request-nature {
    margin: 3% 0;
  }

  #request-bespoke {
    margin: 3% 0;
    width: 90%;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 5.5rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-size: 115%;
    font-weight: 350;
  }

  #page-404 {
    font-size: 1em;
    line-height: 120%;
  }
}
/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
  nav a {
    font-size: medium;
    width: 6em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 8%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.9vw;
    word-spacing: 0.1vw;
  }

  .states {
    border: none;
  }

  #pics-column-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  article {
    font-weight: 1000;
    font-size: 5vw;
    max-width: 100%;
    width: auto;
    line-height: 65%;
  }

  .about h3 {
    font-size: 5.25vw;
    margin-top: 15%;
  }

  .about h4 {
    font-size: 2.2vw;
    font-weight: bolder;
    margin-top: 5%;
    padding: 0 5%;
  }

  .about p {
    font-size: 1.9vw;
  }

  .caption {
    height: 55%;
    width: 35%;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: black solid 0.5rem;
    font-size: x-large;
  }
}

/* For small screens sizes from 850px wide and down */

@media screen and (max-width: 850px) {
  nav a {
    font-size: medium;
    width: 6em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 15%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 275px;
    max-height: 275px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 2.1vw;
    word-spacing: 0.1vw;
  }

  #pics-column-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  article {
    font-weight: 1000;
    font-size: 5vw;
    max-width: 100%;
    width: auto;
    line-height: 65%;
  }

  .about h3 {
    font-size: 5.25vw;
    margin-top: 15%;
  }

  .about h4 {
    font-size: 2.4vw;
    font-weight: bold;
    margin-top: 5%;
    padding: 0 5%;
    letter-spacing: 0.175em;
  }

  .about p {
    font-size: 1.9vw;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 5rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 350;
    font-size: 110%;
  }

  .social-networks i {
    margin-top: 0.1em;
    max-height: 110%;
    height: auto;
    text-align: center;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  /* For small screens sizes from 750px wide and down */

  @media screen and (max-width: 750px) {
    nav a {
      font-size: medium;
      width: 6em;
    }

    .flexcontainer-cartoon {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      margin-right: 5%;
    }

    .cartoon img {
      display: inline-flex;
      flex-shrink: 0;
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      border: 0.3rem solid black;
    }

    .img-text {
      display: flex;
      flex-flow: nowrap;
      flex-shrink: 0;
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      border: 0.3rem solid black;
      background-color: whitesmoke;
      text-align: center;
      text-transform: uppercase;
      font-family: "Titan One", sans-serif;
      font-size: 1.8vw;
      word-spacing: 0.1vw;
    }

    .column {
      flex: 50%;
      max-width: 50%;
      margin: 0.3em 0.3em 0.3em 0.3em;
    }

    #pics-column-left {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      display: none;
    }

    .cartoonists {
      padding: 0;
    }

    #pics-column-right {
      height: 100%;
      width: 100%;
      width: auto;
      height: auto;
      display: none;
    }

    .text-column {
      margin: 0 auto;
    }

    article {
      font-weight: 1000;
      font-size: 5vw;
      max-width: 100%;
      width: auto;
      line-height: 65%;
    }

    .about h3 {
      font-size: 4vw;
      margin-top: 15%;
    }

    .about h4 {
      font-size: 2.6vw;
      letter-spacing: 0.125em;
      font-weight: bold;
      margin-top: 5%;
      padding: 0 5%;
    }

    .about p {
      font-size: 2.2vw;
    }

    .caption {
      height: 55%;
      width: 35%;
      margin: 0 auto;
      vertical-align: center;
      text-align: center;
      border-radius: 50%;
      background-color: whitesmoke;
      border: black solid 0.5rem;
      font-size: large;
    }

    .social-networks i {
      padding-top: 12%;
    }
  }
}
/* For small screens sizes from 650px wide and down */

@media screen and (max-width: 650px) {
  nav a {
    font-size: medium;
    width: 6em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 10%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 2vw;
    word-spacing: 0.1vw;
  }

  .about p {
    font-size: 2.3vw;
  }

  .about h4 {
    font-size: 2.6vw;
    letter-spacing: 0.125em;
  }

  #page-404 {
    font-size: 1.5em;
    line-height: 120%;
  }
}

/* For small screens sizes from 600px wide and down */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.1em;
  }

  h2 {
    font-size: 0.9em;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 6%;
  }

  .cartoon img {
    display: inline-flex;
    flex-shrink: 0;
    max-width: 165px;
    max-height: 165px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 165px;
    max-height: 165px;
    width: 300px;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 1.78vw;
    word-spacing: 0.1vw;
  }

  .caption {
    height: 55%;
    width: 35%;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: black solid 0.5rem;
    font-size: medium;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 4rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 350;
    font-size: 110%;
  }

  .social-networks i {
    height: 0.5rem;
    text-align: center;
  }

  #page-404 {
    font-size: 1em;
    line-height: 120%;
  }
}

/* For small screens sizes from 550px wide and down */

@media screen and (max-width: 550px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }

  nav {
    min-width: 100%;
  }

  nav a {
    font-size: smaller;
    width: 5.5em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 12.1%;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 165px;
    max-height: 165px;
    width: 300px;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 2vw;
    word-spacing: 0.1vw;
  }

  #pics-column-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  article {
    font-weight: 1000;
    font-size: 5vw;
    width: 100%;
    line-height: 65%;
  }

  .about h3 {
    font-size: 4vw;
    margin-top: 15%;
  }

  .about h4 {
    font-size: 2.65vw;
    letter-spacing: 0.08em;
    font-weight: bold;
    margin-top: 5%;
    padding: 0 2%;
  }

  .about p {
    font-size: 2.3vw;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 350;
    font-size: 110%;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  #page-404 {
    font-size: 1em;
    line-height: 120%;
  }

  .social-networks a {
    width: 2.5em;
    font-size: 1em;
  }
}

/* For small screens sizes from 450px wide and down */

@media screen and (max-width: 450px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 3.1em;
  }

  h2 {
    font-size: 0.8em;
  }

  nav a {
    font-size: smaller;
    width: 5.5em;
  }

  #bunny {
    max-width: 28%;
    max-height: 36.75%;
    float: left;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  #wolfy {
    max-width: 28%;
    max-height: 100%;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  #croc {
    max-width: 28%;
    max-height: 36.75%;
    float: right;
    border: 0.1em black solid;
    margin: 0 auto;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 20%;
  }

  .cartoon img {
    max-width: 165px;
    max-height: 165px;
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 165px;
    max-height: 165px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 2.625vw;
    word-spacing: 0.1vw;
    margin-bottom: 10%;
  }

  #pics-column-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  article {
    font-weight: 1000;
    font-size: 5vw;
    width: 100%;
    line-height: 65%;
  }

  .about h3 {
    font-size: 3.5vw;
    margin-top: 15%;
    text-align: center;
  }

  .about h4 {
    font-size: 2.65vw;
    letter-spacing: 0.08em;
    font-weight: bold;
    margin-top: 5%;
  }

  .about p {
    font-size: 2.3vw;
  }

  .text-column {
    margin: 0 auto;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 2em;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 0.6em;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 350;
    font-size: 105%;
  }

  .social-networks i {
    max-height: 110%;
    height: auto;
    text-align: center;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  #page-404 {
    font-size: 1em;
    line-height: 120%;
  }
}

/* For small screens sizes from 400px wide and down */

@media screen and (max-width: 400px) {
  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 25%;
  }
}

/* For small screens sizes from 350px wide and down */

@media screen and (max-width: 350px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }

  h1 {
    font-size: 3.1em;
  }

  h2 {
    font-size: 0.675em;
  }

  nav a {
    font-size: smaller;
    width: 5em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: 35%;
  }

  .img-text {
    display: flex;
    flex-flow: nowrap;
    flex-shrink: 0;
    max-width: 165px;
    max-height: 165px;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    background-color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titan One", sans-serif;
    font-size: 3.2vw;
    word-spacing: 0.1vw;
  }

  #pics-column-left {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  .cartoonists {
    padding: 0;
  }

  #pics-column-right {
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;
    display: none;
  }

  article {
    font-weight: 1000;
    font-size: 5vw;
    width: 100%;
    line-height: 65%;
  }
  
  .about h3 {
    font-size: 2.8vw;
    margin-top: 15%;
    text-align: center;
  }

  .about h4 {
    font-size: 2.45vw;
    letter-spacing: 0.07em;
    font-weight: bold;
    margin-top: 5%;
    padding: 0 5%;
  }

  .about p {
    font-size: 2.15vw;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 1.7em;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 0.5em;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 350;
    font-size: 110%;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  #page-404 {
    font-size: 0.8em;
    line-height: 120%;
  }
}

/* For small screens sizes from 300px wide and down */

@media screen and (max-width: 300px) {
  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 0.6em;
  }

  .flexcontainer-cartoon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 50%;
  }

  .img-text {
    font-size: 3.3vw;
  }

  .about h3 {
    font-size: 52.5%;
    text-shadow: 0.5px 0.5px 0.5px black;
  }

  .about h4 {
    font-size: 2.5vw;
    letter-spacing: 0.06em;
    text-shadow: 0.5px 0.5px 0.5px whitesmoke;
  }

  nav a {
    width: 5.5em;
    font-size: x-small;
  }

  .about p {
    font-size: 2.15vw;
  }

  .social-networks a {
    width: 1.25em;
  }

  .social-networks i {
    max-height: 100%;
    text-align: center;
  }
}
