@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');


* {
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  font-family: "Titan One", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* External Fonts */

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 700;
  font-style: semi-bold;
}

.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header and Logo */

header {
  background-color: rgba(215, 79, 0, 0.945);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

h1 {
  font-family: "Titan One", sans-serif;
  color: whitesmoke;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  font-size: 4.5rem;
  letter-spacing: 1rem;
  word-spacing: 0.4em;
}

h2 {
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem;
  color: black;
  text-shadow: 1px 1px 1px whitesmoke;
  text-align: center;
  word-spacing: 0.4em;
  letter-spacing: 0.4rem;
  margin: 20px 20px 20px 20px;
}

header img {
  border-radius: 60%;
}

#logo {
  border-radius: 50%;
  border: 0.25em black solid;
  width: 245px;
  height: 245px;
  float: left;
  margin-left: 5.5em;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

/* Navigation Links */

nav {
  background-color: black;
  font: Oswald, sans-serif black;
  font-style: bolder;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-width: 100%;
  margin-bottom: 1.8rem;
  position: inline fixed;
  align-items: center;
  justify-content: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  border: 4px solid black;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 7rem;
  padding: 5px 10px;
  text-align: center;
  color: black;
  font-size: 112%;
  font-weight: 750;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em 0.5em;
  border-radius: 12px;
  font-family: "Lato";
}

.left-nav {
  float: left;
  margin: auto;
}

.center-nav {
  float: center;
  margin: auto;
}

.right-nav {
  float: right;
  margin: auto;
}

/* Change the background color on mouse-over */

nav a:hover {
  background-color: #d01e47;
  color: white;
}

/* Home Body */

.about {
  display: inline-block;
  padding: 1em;
  background-color: whitesmoke;
  margin: 5% 22% 5% 22%;
}

.about-left {
  float: left;
}

.about-right {
  float: right;
}

.cartoonists {
  max-width: 55%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#delightful {
  float: right;
}

#hippy {
  float: right;
}

#jazzy {
  float: right;
}

#dreadz {
  float: right;
}

.questions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 1;
  margin: auto 25%;
  text-align: center;
  justify-content: center;
  break-before: column;
}


.questions img {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  width: 100%;
  height: 100%;
  float: center;
  width: 100%;
  display: block;
  border: 2px solid black;
}

#inspiration {
  display: flex;
  margin: auto;
  max-width: 100%;
}

#attempt {
  display: flex;
  margin: auto;
  width:100%;
}

#struggle {
  display: flex;
  margin: auto;
  width:100%;
}

#defeat {
  display: block;
  margin: auto;
  width:100%;
}

.img-text {
  float: center;
  background-color: white;
  border: 2.5px solid black;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
  font-size: m;
  display: block;
}


/* Market Body */

.caption {
  height: 3rem;
  width: 25rem;
  margin: 1% auto;
  padding: 2% 2%;
  vertical-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: whitesmoke;
  border: black solid 0.5rem;
  font-family: "Jomhuria", serif;
  font-size: xxx-large;
  letter-spacing: 3px;
 
}

span {
  border: 0.5rem solid black;
  display: inline-block;

}

.animation-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.illustration-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

#spies {
  display: block;
  margin: auto;
}

#suarez {
  display: block;
  margin: auto;
}

#matrix {
  border: 1em;
  margin-top: 0.4%;
}

#bunny {
  max-width: 30%;
  max-height: 36.75%;
  float: left;
  border: 0.3em black solid;
}

#wolfy {
  max-width: 30%;
  max-height: 100%;
  float: center;
  border: 0.3em black solid;
  margin-top: auto auto;
  justify-content: center;
}

#croc {
  max-width: 30%;
  max-height: 36.75%;
  float: right;
  border: 0.3em black solid;
}

#sheep {
  max-width: 30%;
  max-height: 36.75%;
  float: center;
  border: 0.3em black solid;
}

.comic-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

#wild-cards {
  display: cover;
}

#chaos {
  margin: 3.5% auto;
}

.merch-examples {
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  border-top: 1.25px solid white;
  border-bottom: 1.25px solid white;
  width: 100%;
  justify-content: center;
}

.row {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  text-align: center;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

span hr {
  margin: 6% 0;
  display: block;
}

/* Create three equal columns that sit next to one another */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px 0px;
}

.column img {
  margin: 0em 0em 0em 0em;
  vertical-align: middle;
  width: 100%;
}





/* Contact Body with Form */

body {
  background: url("assets/images/cartoon-background-contact.jpg");
}

fieldset {
  border: none;
  margin-top: 20px;
  font-family: "Jomhuria", serif;
  font-size: x-large;
  letter-spacing: 0.25rem;
}

form {
  width: 71.5%;
  padding: 25px;
  border-radius: 8px;
  margin: 10vh auto;
  background-color: white;
}

.block-label {
  display: block;
}

legend {
  font-size: xx-large;
  margin-bottom: 0.5em;
  text-underline-position: under;
}

label {
  margin: 10px 15px 5px 0;
}

#name-field {
  height: 22px;
}

#email-field {
  height: 22px;
}

#vision {
  height: 20px;
  margin-bottom: 1.5em;
}

.checkbox {
  margin: 2%;
}

#request-bespoke {
  margin: 3% 0%
}

fieldset>p {
  margin: 2%;
}

h3 {
  margin: 2% 0%;
  font-size: xxx-large;
  letter-spacing: 0.5rem;
}

.send-button {
  margin-top: 20px;
  border: solid black 3px;
  padding: 12.5px 25px 12.5px 25px;
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 100%;
  color: black;
  background-color: white;
  display: block;
}

.send-button:hover {
  background-color: black;
  color: whitesmoke;
}

/* Footer + Links to Social Media */

footer {
  background-color: black;
  margin-top: 1.5em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  height: 0.75rem;
  text-align: center;
}

.left-social {
  float: left;
  margin: auto;
}

.center-left-social {
  float: center left;
  margin-right: 10%;
}

.center-right-social {
  float: center right;
  margin-left: 10%;
}

.right-social {
  float: right;
  margin: auto;
}

/* Change the background color on mouse-over */
.social-networks a:hover {
  background-color: #d01e47;
  color: white;
}

/* Media queries */


/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {

  h1 {
    font-family: "Titan One", sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-family: "Titan One", sans-serif;
    font-size: 1.2rem;
    color: black;
    text-shadow: 1px 1px 1px whitesmoke;
    text-align: center;
    text-overflow: hidden;
    word-spacing: 0.3em;
    letter-spacing: 0.3rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* For large to medium screens sizes from 1200px wide and down */
  @media screen and (max-width: 1200px) {
    .caption {
      height: 55%;
      width: 35%;
      margin: 0 auto;
      vertical-align: center;
      text-align: center;
      border-radius: 50%;
      background-color: whitesmoke;
      border: black solid 0.4rem;
      font-size: xx-large;
    }

    #bunny {
      max-width: 30%;
      max-height: 36.75%;
      float: left;
      border: 0.1em black solid;
      margin: 0 auto;
    }

    #wolfy {
      max-width: 30%;
      max-height: 100%;
      float: center;
      border: 0.1em black solid;
      margin: 0 auto;
    }

    #croc {
      max-width: 30%;
      max-height: 36.75%;
      float: right;
      border: 0.1em black solid;
      margin: 0 auto;
    }


    .animation-examples span {
      background-color: #262424;
      opacity: 1;
    }

    iframe {
      width: 100%;
      height: auto;
    }
  }

}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  h1 {
    font-family: "Titan One", sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.4em;
  }

  h2 {
    font-family: "Titan One", sans-serif;
    font-size: 0.95rem;
    color: black;
    text-shadow: 1px 1px 1px whitesmoke;
    text-align: center;
    text-overflow: hidden;
    word-spacing: 0.3em;
    letter-spacing: 0.3rem;
    margin: 10px 10px 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 5rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 90%;
    font-weight: 750;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: Lato;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 4rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: 750;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: Lato;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 950px) {
    .column {
      flex: 50%;
      max-width: 50%;
      margin: 0.3em 0.3em 0.3em 0.3em;
    }

    .caption {
      height: 55%;
      width: 35%;
      margin: 0 auto;
      vertical-align: center;
      text-align: center;
      border-radius: 50%;
      background-color: whitesmoke;
      border: black solid 0.5rem;
      font-size: x-large;
    }

  }

}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 3rem;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: 750;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: Lato;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 750px) {
    .column {
      flex: 50%;
      max-width: 50%;
      margin: 0.3em 0.3em 0.3em 0.3em;
    }

    .caption {
      height: 55%;
      width: 35%;
      margin: 0 auto;
      vertical-align: center;
      text-align: center;
      border-radius: 50%;
      background-color: whitesmoke;
      border: black solid 0.5rem;
      font-size: large;
    }
  }


}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .caption {
    height: 55%;
    width: 35%;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: black solid 0.5rem;
    font-size: medium;
  }
}

/* For small screens sizes from 350px wide and down */
@media screen and (max-width: 350px) {

  body {
    min-width: 100%;
    max-width: 100%;
  }

  header {
    width: full-width;
  }


  nav {
    min-width: 100%;
  }

  .social-networks a {
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
    width: full-width;
    padding: 1px 1px;
    text-align: center;
    color: black;
    font-size: 70%;
    font-weight: 750;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: Lato;
  }

  #request-bespoke {
    margin: 3% 0%;
    width: 90%;
  }
}